@font-face {
    font-family: Outfit;
    src: url('/qr-code-component-main/Outfit-VariableFont_wght.ttf');
}

body {
    
    font-size: 10px;
    font-family: 'Outfit';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.container{
    background-color: hsl(212, 45%, 89%);
    width: 40%;
    height: auto;
    padding: 5%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}

.card {
    text-align: center;
    background-color: white;
    width: 32%;
    margin: auto;
    padding: 1%;
    border-radius: 3%;
}

.card .qr-image {
    margin-top: 3%;
    width: 90%;
    height: auto;
    border-radius: 3%;
}

.card h1 {
    margin: 1%;
    font-weight: 700;
}

.card p {
    margin: 5%;
    color:hsl(220, 15%, 55%);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    body{
        background-color:hsl(212, 45%, 89%) ;
    }
    .container{
        background-color: none;
        width: 80%;
        height: auto;
        padding: 5%;
        box-shadow: none;
    }
    
    .card {
        text-align: center;
        background-color: white;
        width: auto;
        margin: auto;
        padding: 1%;
        border-radius: 3%;
    }
    
    .card .qr-image {
        margin-top: 3%;
        width: 90%;
        height: auto;
        border-radius: 3%;
    }
}